name: Deploy API to server

on:
  # Runs on pushes targeting the master branch
  push:
    branches: 
      - master

  # Allows manual trigger from Actions tab
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy_to_QA:
    runs-on: self-hosted

    steps:
      - name: Update code on Raspberry Pi
        run: |
          cd ~/peviitor/build/api
          git pull origin master

  deploy_to_PROD:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: master

      - name: Generate .env File
        run: |
          echo "PROD_SERVER=${{ secrets.PROD_SERVER }}" >> api.env
          echo "BACK_SERVER=${{ secrets.BACK_SERVER }}" >> api.env
          echo "SOLR_USER=${{ secrets.USERNAME_SOLR }}" >> api.env
          echo "SOLR_PASS=${{ secrets.PASSWORD_SOLR }}" >> api.env

      - name: Fast FTP deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWD }}
          local-dir: ./
          server-dir: /api.peviitor.ro/
