name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      - name: ftp-action
        uses: sebastianpopp/ftp-action@v2.0.0
        with:
          host: ftp.peviitor.ro
          user: apideploy@peviitor.ro
          password: ramona2@1
