name: Run PHPUnit Tests

on:
  pull_request:
    branches: [ main ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repo code
      uses: actions/checkout@v2

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.0'

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress 

    - name: Run PHPUnit tests
      run: vendor/bin/phpunit --configuration phpunit.xml
